<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.ddit.member.model.MemberVo" alias="MemberVo"/>
		<typeAlias type="kr.or.ddit.common.model.PageVo" alias="PageVo"/>
		<typeAlias type="kr.or.ddit.board.model.BoardVo" alias="BoardVo"/>
		<typeAlias type="kr.or.ddit.post.model.PostVo" alias="PostVo"/>
		<typeAlias type="kr.or.ddit.attachment.model.AttachmentVo" alias="AttachmentVo"/>
		<typeAlias type="kr.or.ddit.reply.model.ReplyVo" alias="ReplyVo"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521/xe"/>
        <property name="username" value="lmh"/>
        <property name="password" value="java"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/or/ddit/db/mapper/member.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/board.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/post.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/attachment.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/reply.xml"/>
  </mappers>
</configuration>